name: Publish Docker images

on:
  release:
    types: [published]
  workflow_dispatch:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v5
      - id: set-matrix
        run: |
          DIRS=$(find . -maxdepth 1 -type d -name 'php-*' -printf '%f\n' | jq -R -s -c 'split("\n")[:-1]')
          echo "matrix=$DIRS" >> $GITHUB_OUTPUT

  push_to_registry:
    needs: prepare
    name: Push ${{ matrix.dir }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    strategy:
      matrix:
        dir: ${{ fromJson(needs.prepare.outputs.matrix) }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./${{ matrix.dir }}
          file: ./${{ matrix.dir }}/Dockerfile
          push: true
          tags: davidetriso/symfony:${{ matrix.dir }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max